*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-wrap{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(189, 189, 189, 0.9);
}

.modal-cont{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30rem;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}