.td {
    font-size: 1.6rem;
    line-height: 1.6;
}

th,
td {
    border: 1px solid #0b0135;
    padding: 0.6rem;
    line-height: 1;
}

.deliver {
    color: rgb(55, 247, 19);
    border: 2px solid rgb(55, 247, 19);
    padding: 0.4rem;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
}

.pending {
    text-align: center;
    color: red;
    border: 2px solid red;
    padding: 0.4rem;
    border-radius: 5px;
    font-weight: 600;
}